Repository huxinfeng/gc-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix, prettier --write --no-error-on-unmatched-pattern, prettier --parser=typescript --write

.lintstagedrc:

{
  "*.{css,less}": ["stylelint --fix", "prettier --write"],
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{md,json}": ["prettier --write --no-error-on-unmatched-pattern"],
  "*.{ts,tsx}": ["eslint --fix", "prettier --parser=typescript --write"]
}

➕ chore(deps): 新增 gh-pages 依赖
  package.json
  pnpm-lock.yaml
Due: prettier --write --no-error-on-unmatched-pattern

⚙ workflow(page): 自动化部署 page
  .github/workflows/gh-pages.yml
Due: none

🔖 chore: 忽略 docs-dist 文件夹
  .gitignore
Due: none

🛠 build: pnpm 换成 npm
  .github/workflows/gh-pages.yml
  README.md
  package-lock.json
  pnpm-lock.yaml
Due: prettier --write --no-error-on-unmatched-pattern

🐛 fix: 解决 github-ci 构建流程 dumi setup 命令报错 bug
  .dumirc.ts
Due: eslint --fix, prettier --parser=typescript --write

deploy: 53309d4eb9aa6c693d1cb6c53f840fadd344b329
  .nojekyll
  180.1de87c66.chunk.css
  180.8b1187ca.async.js
  404.html
  410.39b2672c.async.js
  703.22790753.async.js
  Foo__index.md.778c6473.chunk.css
  Foo__index.md.7be0723f.async.js
  components/foo/index.html
  docs__guide.md.778c6473.chunk.css
  docs__guide.md.e0630fe0.async.js
  docs__index.md.36f7d0ec.async.js
  docs__index.md.778c6473.chunk.css
  dumi__pages__404.30bb947e.async.js
  dumi__pages__404.8b85f2d9.chunk.css
  dumi__pages__Demo.578aa5c0.chunk.css
  dumi__pages__Demo.d4e3a4ad.async.js
  dumi__theme__ContextWrapper.1d9c0b9d.async.js
  dumi__theme__ContextWrapper.92e58cdd.chunk.css
  dumi__theme__layouts__DocLayout.4a18ea47.async.js
  guide/index.html
  index.html
  umi.1684aa98.js
  umi.6cab289a.css
  ~demos/:id/index.html
  ~demos/foo-demo-0/index.html
Due: stylelint --fix, prettier --write, eslint --fix

deploy: c77ce8f7e423121e1275723965533f7a1e3b386a
  404.html
  components/foo/index.html
  guide/index.html
  index.html
  umi.ab13b40c.js
  ~demos/:id/index.html
  ~demos/foo-demo-0/index.html
Due: prettier --write, eslint --fix

deploy: 8d43cc25e10039ff8b1c050a6f6bec3ef3c60279
  404.html
  components/foo/index.html
  guide/index.html
  index.html
  umi.1d75de41.js
  ~demos/:id/index.html
  ~demos/foo-demo-0/index.html
Due: prettier --write, eslint --fix

deploy: a2f40563b3d6f7229d436c2393ea30134593cfeb
  404.html
  components/foo/index.html
  guide/index.html
  index.html
  umi.84bcc1ae.js
  ~demos/:id/index.html
  ~demos/foo-demo-0/index.html
Due: prettier --write, eslint --fix

🐛 fix: 解决 GitHub Pages build 之后找不到文件 bug
  .dumirc.ts
Due: eslint --fix, prettier --parser=typescript --write

deploy: 53309d4eb9aa6c693d1cb6c53f840fadd344b329
  404.html
  components/foo/index.html
  guide/index.html
  index.html
  umi.1684aa98.js
  ~demos/:id/index.html
  ~demos/foo-demo-0/index.html
Due: prettier --write, eslint --fix

deploy: 7f1fa7df73ef709c067f15a9a0b607e58f7fc890
  404.html
  components/foo/index.html
  guide/index.html
  index.html
  umi.397c6db5.js
  ~demos/:id/index.html
  ~demos/foo-demo-0/index.html
Due: prettier --write, eslint --fix
